<% if user_signed_in? %>
  <% if !current_user.likes?(@p) %>
    <%= form_for(current_user.active_likes.build) do |f| %>
      <%= hidden_field_tag :post_id, @p.id %>
      <%= f.submit "LIKE", class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.active_likes.find_by(post_id: @p.id),
        html: {method: :delete }) do |f| %>
      <%= hidden_field_tag :post_id, @p.id %>
      <%= f.submit "UNLIKE", class: "btn btn-primary" %>
    <% end %>
  <% end %> |
  <% if current_user == @p.user %>
    <%= form_for(current_user.posts.find(@p.id),
      data: { confirm: "Are you sure?" }, html: {method: :delete }) do |f| %>
      <%= hidden_field_tag :post_id, @p.id %>
      <%= f.submit "DELETE", class: "btn btn-primary" %>
    <% end %> |
  <% end %>
<% end %>
<a href="/post/<%= @p.id%>"> VIEW </a>
