<div class="post">
    <a href="/user/<%= User.find(@p.user.id).username %>"><%= User.find(@p.user.id).username %></a> - <%= @p.created_at.to_formatted_s(:short) %> - <%= @p.likes.count %> Likes
    <%= markdown(@p.content).html_safe %>
    <%= render "/components/like_button"%><a href="/post/<%= @p.id%>"> VIEW </a>
</div>
