<h1>
  <%= @username %>
</h1>
<%= render "/components/profile_buttons", :user => User.find_by_username(params[:id])%>
<h2 id="posts">posts</h2>
<%= render "/components/post_form"%>
<% for @p in @posts %>
  <%= render "/components/post"%>
<% end %>
<h2 id="info">INFO</h2>
<div class="box">
  <p> followers: <%= User.find_by_username(params[:id]).followers.count %> </p> 
  <p> following: <%= User.find_by_username(params[:id]).following.count %> </p>
  <p> posts: <%= @posts.count %> </p>
  <p> likes: <%= @likes.count %> </p>
</div>
<%if !User.find_by_username(params[:id]).following.empty?%>
  <h2 id="suggestions">SUGGESTIONS</h2>
  <div class="box">
    <% for @f in User.find_by_username(params[:id]).following %>
      <a href="/user/<%= @f.username%>">
        <%= @f.username %>
      </a>
    <% end %>
  </div>
<% end %>
